.filter-position {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.line {
  margin-top: 15px;
  background-color: grey;
  height: 1px;
}
.buttons {
  font-family: Poppins;
  font-size: 12px;
  line-height: 15px;
  margin: 5px
}
