.card-detail {
  margin: 0 auto;
  width: 340px;
  padding: 20px;
  border-radius: 20px;
}
.card-detail-header {
  margin: -22px;
  padding: 20px;
  border-radius: 20px 20px 0px 0px;
  height: 180px;
  background-color: grey;
}
.card-detail-body {
  background-color: white;
  margin: -22px;
  border-radius: 00px 00px 20px 20px;
  height: 375px;
  padding: 1px;
  border: solid 3px;
  border-color: grey;
}
.card-detail-name {
  color: white;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: x-large;
  margin-top: auto;
}
.card-detail-code {
  margin-right: -60px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  color: white;
  font-size: x-small;
  display: flex;
  justify-content: flex-end;
}
.card-detail-img {
  height: 250px;
  margin-top: -40px;
  margin-left: 40px;
}
.card-detail-arrowback {
  height: 25px;
  width: 25px;
  margin-left: -60px;
  margin-right: 15px;
  margin-top: 5px;
}
.card-detail-title {
  display: flex;
  justify-content: space-around;
}
.card-detail-arrowtitle {
  display: flex;
}
.card-detail-PokeballCard {
  transform: rotate(39deg);
  margin-left: 70px;
  position: absolute;
  margin-top: -50px;
  height: 260px;
}
.card-detail-pill {
  background-color: grey;
  border-radius: 50px;
  width: 60px;
  height: 20px;
  margin: 10px;
}
.card-detail-pill-text {
  color: white;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: small;
  display: flex;
  justify-content: center;
  margin-top: 0px;
}
.card-detail-pills-div {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
.card-detail-about-title {
  color: grey;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  display: flex;
  justify-content: center;
  font-size: 14px;
}

.card-detail-about-details {
  display: flex;
  justify-content: space-around;
}
.card-detail-about-details-text {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  margin-top: 0px;
  color: black;
}
.card-detail-about-details-text-description {
  margin-left: 13px;
  margin-top: -10px;
  color: grey;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
}
.card-detail-about-details-moves-detail {
  display: grid;
  justify-content: center;
  margin-top: -15px;
  margin-bottom: 12px;
  min-height: 33px;
}
.card-detail-about-details-moves-text {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 16px;
  font-size: 12px;
  color:black
}
.card-detail-about-details-weight-detail {
  display: flex;
  justify-content: center;
}
.img-weight {
  transform: rotate(39deg);
}
.card-detail-basestats-title {
  color: grey;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  display: flex;
  justify-content: center;
  font-size: 14px;
}
.card-detail-basestats-list-stats-stat {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  margin-top: 17px;
  margin-left: 25px;
}
.card-detail-basestats-list-stats-text {
  color: grey;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  display: flex;
  justify-content: flex-start;
  font-size: 14px;
  min-width: 40px;
}
.card-detail-basestats-list-stats {
  display: flex;
  justify-content: space-around;
  max-height: 15px;
  color: black;
}
.card-detail-basestats-list-stats-meter {
  width: 250px;
  margin-top: 18px;
}
.img-position{
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-rotation{
  z-index: 100;
  color: white;
}